@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.container {
  width: 1320px;
  /* height: 4000px; */
  background-color: red;
}

.container_top {
  height: 600px;
  background-color: #f6f9fb;
}

.bubble21 {
  position: relative;
  left: 820px;
  width: 500px;
}

.banner {
  position: relative;
  width: 800px;
  top: -90px;
}

.baner_text {
  position: relative;
  padding: 20px;
  width: 400px;
  top: -535px;
  font-size: 12px;
  z-index: 3;
}

.baner_title {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 40px;
}

.darkmode {
  position: fixed;
  background-color: #5965e9;
  width: 70px;
  height: 70px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  top: 200px;
  display: flex;
  align-items: center;
  z-index: 99;
}

.darkmode_icon {
  width: 25px;
  margin-left: 22px;
}

.header {
  position: fixed;
  display: flex;
  padding: 25px 20px 0px 20px;
  justify-content: flex-end;
  z-index: 99;
}

.header_logo {
  margin-right: 130px;
}

.header_item {
  margin: 15px 20px 15px 20px;
  font-weight: 500;
  font-size: 15px;
  display: flex;
}

.header_item_arrow {
  width: 20px;
  height: 19px;
  margin: 3px 0px 0px 1px;
}

.header_menu {
  margin: 5px 20px 15px 40px;
  width: 40px;
  height: 40px;
  background-color: #ecf2f6;
  border-radius: 20px;
}

.header_menu_icon {
  width: 18px;
  margin: 11px
}

.line4 {
  position: relative;
  top: -110px;
}

.bubble9 {
  position: relative;
  top: -710px;
}

.container_about {
  display: flex;
}

.about_us {
  color: #d27171
}

.left {
  background-color: green;
  width: 60%;
  padding: 15px;
}

.right {
  background-color: blue;
  width: 40%;
  padding: 15px;
}

.form_container {
  background-color: #fff;
  padding: 20px;
  border-radius: 15px;
}

.form_title {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}

.form_name {
  font-size: 12px;
  font-weight: 800;
  margin-bottom: 5px;
}

.form_inbox {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 7px;
  padding: 3px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.05);
  margin-bottom: 12px;
  color:rgba(0, 0, 0, 0.3)
}

.form_button {
  display: flex;
  background-color: #5957e9;
  justify-content: center;
  height: 40px;
  align-items: center;
  border-radius: 10px;
  font-weight: 400;
  color: #fff;
  font-size: 14px;
}